<div class="row">
  <div class="col-sm-8">
    <h2 class="mt-4">BET ON YOUR FAVOURITE TEAM</h2>
    <p>
      GGT is a new blockchain backed interactive betting platform that allows you to bet on e-sports matches. Our aim is to improve engagement and drive economic growth on the e-sports community!
    </p>
    <p>
      Bet on your favourite team and your staked tokens will be added to the match pool. Once the match is over the full pool of tokens will be rewarded to the players that bet on the winning team. The ammount of tokens rewarded to each user will depend on how many tokens staked. Higher bets will be rewarded with higher rewards!
    <p>
      <a class="btn btn-primary btn-lg" href="#">Call to Action &raquo;</a>
    </p>
  </div>
  <div class="col-sm-4">
    <h2 class="mt-4">Contact Us</h2>
    <address>
      <strong>Blocksmith</strong>
      <br>First Floor
      <br>10-16 Scrutton Street
      <br>London, EC2A 4RU
    </address>
    <address>
      <abbr title="Email">E:</abbr>
      <a href="mailto:#">rafael@blocksmith.tech</a>
    </address>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 my-4">
    <div class="card">
      <img class="card-img-top" src="http://placehold.it/300x200" alt="">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Find Out More!</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 my-4">
    <div class="card">
      <img class="card-img-top" src="http://placehold.it/300x200" alt="">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus totam ut praesentium aut.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Find Out More!</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 my-4">
    <div class="card">
      <img class="card-img-top" src="http://placehold.it/300x200" alt="">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Find Out More!</a>
      </div>
    </div>
  </div>

  <div class="col-sm-8 m-4">
    <h2 class="mb-4">Why bet with us?</h2>
    <ul>
      <li class="m-2">We accept only bets on e-sports and major world events.</li>
      <li class="m-2">We provide an easy to use platform that focuses on the games and not in the betting system.</li>
      <li class="m-2">Our goal is to improve comunity engagement and allow users to share the wins and losses of your favourite teams.</li>
      <li class="m-2">Our system is backed by Blockchain technology, allowing for a more secure and transparent system for all users.</li>
      <li class="m-2">Because our platform puts all the wins and losses in the hands of players it provides a more transparent and fair system for all users.</li>
      <li class="m-2">Game bets are self-contained, and the bet pool is only dependent on the players. This provides aditional safety for all the payers and the bet rewards are not dependent on our capital.</li>
      <li class="m-2">The support team works 24/7. Our support staff is ready to help you via chat, e-mail and social media accounts and any of other ways.</li>
    </ul>
  </div>
</div>

