<h3>Welcome, <%= @user.name %></h3>
<p>Your current balance is: <%= @amount %> ggt</p>
<p>You can check you transaction history <a href="#">here</a>.</p>


<h3>Placed Bets</h3>

<ul class="list-group">
<% @active_bets.each do |bet| %>
  <%= render 'bets/item', game: bet.game, bet: bet %>
<% end -%>
</ul>

<% if @active_bets.empty? %>
  <p>You don't have any placed bets.</p>
<% end -%>

<h3>Available Games</h3>

<% @active_games.each do |game| %>
  <%= render 'layouts/bet_form', game: game, bet: nil %>
<% end -%>

<% if @active_games.empty? %>
  <p>There isn't any game available at this moment to place your bets</p>
<% end -%>
