<h3>Welcome, <%= @user.name %></h3>
<p>Your current balance is: <%= @amount %> ggt</p>
<p>You can check you transaction history <a href="#">here</a>.</p>


<h3>Active Bets</h3>

<p>...</p>


<h3>Available Bets</h3>

<p>...</p>
